@import './variables.scss';

@mixin sectionStyles {

    margin-top: 25px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    // h1{
    //     text-align: center;
    //     color: $primary-color;
    //     margin-top: 50px;
    //     margin-bottom: 50px;
    //     text-decoration: underline;
    //     font-weight: bold;
    // }
    
    .mainBody{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        h3{
            text-align: center;
            color: $primary-color;
            text-decoration: underline;
            margin-bottom: 10px;
        }
        img{
            width: 80%;
            margin: 0 auto;
        }
        
        .articleSummary{
            padding: 10% 20%;
            text-align: center;

            a{
                color: $primary-color;
                font-size: 75%;

                &:hover{
                    font-size: 78%;
                }
            }
        }
    }
    
}

#homePage{
    background-color: white;
    h1{
            text-align: center;
            color: $primary-color;
            margin-top: 50px;
            margin-bottom: 50px;
            text-decoration: underline;
            font-weight: bold;
        }
    
    #carousel{
        display: block;
        
        img{
            width: 100%;
            height: 500px;
            margin: 0 auto;
        }
    }
    
    #nutrition{
        @include sectionStyles;
    }
    hr{
       width: 50%;
       height: 2px;
       color: $primary-color;
       margin: 0 auto;
    }

    #articles{
        @include sectionStyles;
    }
}