#muscleHeading{
    text-transform: capitalize;
    text-decoration: underline;
}

.exerciseBlock{
    width: 30%;
    height: 30%;
    margin: auto;

    img{
        width: 400px;
        height: 400px;
    }
}