@import './variables.scss';

#WorkoutDisplay{
    width: 100vw;
    height: 100%;
    margin: 45px;
    h1,h3{
        text-align: center;
        color: $dark-theme;
        margin: 15px;
        margin-left: 15%;
    }

    #workoutExercises{
        background-color: $dark-theme;
        color: $secondary-color;
        text-align: center;
        margin-top: 40px;
        margin-left: 30%;
        margin-bottom: 40px;
        width: 50%;
        padding: 20px;
        border-radius: 40px;


        h6{
            margin-top: 15px;
            color: $primary-color;
            
            &:hover{
                color: $secondary-color
            }
        }

    }

}

