@import './variables.scss';

#WorkoutDisplay{
    width: 100%;
    height: 100%;
    // margin: 45px;
    background: white;
    padding: 20px;
    h1{
        text-align: center;
        color: $primary-color;
        width: 50%;
        margin: 0 auto;
        text-decoration: underline;
    }

    #workoutExercises{
        // background-color: $secondary-color;
        text-align: center;
        width: 50%;
        margin: 30px auto;
        padding: 20px;

        #exercises{
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            margin: 10px;
            padding: 20px;
            
            h6{
                color: $primary-color;
                text-decoration: underline;
                // transition: font-size .2s, font-weight .2s;

                &:hover{
                    // font-size: 110%;
                    font-weight: bold;
                }
            }

            p{
                color: black;
            }
        }

        // h6{
        //     margin-top: 15px;
        //     color: $primary-color;
            
        //     &:hover{
        //         color: $secondary-color
        //     }
        // }

    }

}

