@import "~bootstrap/scss/bootstrap";
@import "./styles/MuscleGroup.scss";
@import "./styles/Exercise.scss";
@import './styles/Index.scss';

$primary-color: rgb(220,220,220);


//NavBar
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background: $primary-color;
    width: 100%; 
    border: .5px solid #778899;
    z-index: 2;
    a{
        color: white;
        font-size: 1.5rem;
    }
    #homeLogo{
        margin-left: 40px;
    }
    #search{
        margin-right: 25px;
    }
}

//SideMenu
#sideMenu{
    position: fixed;
    left: 0;
    height: 100%;
    background: linear-gradient(to top, #696969, $primary-color);
    margin: 0;
    padding-top: 6em;
    
    ul{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        li{ 
            width: 100%;
            list-style: none;
            font-size: 20px;
            text-transform: capitalize;
            margin: 10px 0;
            border-bottom: 1px solid black;
            color: white;
        }
    }
    
}




