@import "~bootstrap/scss/bootstrap";

$primay-color: #18392b;

//NavBar
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background: $primay-color;

    a{
        color: white;
        font-size: 1.5rem;
    }
    #homeLogo{
        margin-left: 40px;
    }
    #search{
        margin-right: 25px;
    }
}

//SideMenu
#sideMenu{
    position: absolute;
    left: 0;
    width: 20%;
    height: 60%;
    background: $primay-color;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    
    li{
        list-style: none;
        font-size: 20px;
        text-transform: capitalize;
        margin: 10px;
        border-bottom: 1px solid black;
        color: white;
    }
}


#muscleHeading{
    text-transform: capitalize;
    text-decoration: underline;
}

.indexImages{
    width: 750px;
    height: 550px;
}

